.main-profile-content{
    display:flex;
    flex-direction: column;
    margin:auto;
    min-height: 86vh;
    width:95vw;
    
    padding:2vh 0;
}
.main-profile-content ul{
    list-style-type: none;
    width: 90%;
    padding:0;
}
.main-profile-content ul li{
    line-height: 1.65;
   
    padding:6px;
    margin:10px 0;
    
}
input[type='file']:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
input[type='file']{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#submitProfileImg{
    background: #35353e;
    color:#fff;
    font-size:1em;
    font-weight: 700;
}
input[type='file'] + label{
    font-size: 1em;
    cursor: pointer;
    font-weight: 700;
    color: white;
    background-color: #35353e;
    margin-bottom: 10px;
    padding:10px;
    display: inline-block;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
input[type='file']:focus + label,
input[type='file'] + label:hover {
    background-color: red;
}

.container-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:90%;
    margin:auto;
    background:#fff;
    color:#484848;
    padding:16px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.separator{
    width:100%;
   
    background: #35353e;
    color:#fff;
    text-align: center;
}
.attendee_notes{
    width:100%;
    display: flex;
    flex-direction: column;
    margin:auto;
    
}
.notes_header{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.editBtns{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main-profile-content button{
    color:#fff;
    background: #00a4e2;
}
.main-profile-content button:hover{
    background: #ea3048;
}
.note{
    width:85%;
    margin:5px auto;
    border-bottom:0.5px solid #ddd;
    display: flex;
    flex-direction: column;
    padding:16px;
}
.note small{
    color:rgb(175, 174, 174);
}
.notes_header h3{
    margin-bottom: 5px;
}
.profile_img{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.profile_img img{
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.parentInfo{
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.container-profile span{
    word-spacing: 2px;
    margin:5px auto;
}
.container-profile h3{
    margin:5px auto;
}