<div class="mainMenu">
  <mat-toolbar>
    <span *ngIf="url[1] === 'attendance' || url[1] === 'class'">
      <button mat-button id="menuButton" (click)='toggle()'>
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
      </button>
    </span>
    <h1 style="color:#fff"><a routerLink="/home"><i class="fas fa-home"></i></a></h1>
    <button mat-raised-button id="logout" (click)='logOut()'>LogOut</button>
 </mat-toolbar>
 <div class="sidenavcontainer" id='sidenav'>
     <div class="sidenavcontent">
        
           <ul class="innerMenu" >
              <li class="menuItem" *ngFor="let i of MenuItems"><a routerLink="/class/{{url[2]}}">{{i | uppercase}}</a></li>
           </ul> 
     </div>
 </div>    


</div>
