<form [formGroup]="Guardian" class="addGuardianForm">
 <mat-horizontal-stepper>
  <mat-step completed=false>
  <mat-form-field appearance="outline">
     <input matInput placeholder="first name" formControlName="first_name">
     <mat-error *ngIf="Guardian.get('first_name').hasError('required') || Guardian.get('first_name').hasError('pattern')">{{getErrorMessage(Guardian.controls.first_name,"name")}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
      <input matInput placeholder="last name" formControlName="last_name">
      <mat-error *ngIf="Guardian.get('last_name').hasError('required') || Guardian.get('last_name').hasError('pattern')">{{getErrorMessage(Guardian.controls.last_name,"name")}}</mat-error>
   </mat-form-field>
   <mat-form-field appearance="outline">
      <input matInput placeholder="phone number" formControlName="phone_number">
      <mat-error *ngIf="Guardian.get('phone_number').hasError('pattern')">{{getErrorMessage(Guardian.controls.phone_number,"phone")}}</mat-error>
   </mat-form-field>
   <mat-form-field appearance="outline">
      <input matInput placeholder="email" formControlName="email">
      <mat-error  *ngIf="Guardian.get('email').hasError('email') || Guardian.get('email').hasError('required')">{{getErrorMessage(Guardian.controls.email,"email")}}</mat-error>
   </mat-form-field>
   <mat-form-field appearance="outline">
      <input matInput placeholder="relationship" formControlName="relationship">
      <mat-error *ngIf="Guardian.get('relationship').hasError('pattern') || Guardian.get('relationship').hasError('required')">{{getErrorMessage(Guardian.controls.relationship,"relationship")}}</mat-error>
   </mat-form-field>
   <div class="navBtns">
      <button mat-button matStepperNext>Next</button>
   </div>
   
  </mat-step>
   <mat-step  completed=false>
    
      <mat-form-field appearance="outline">
          <input matInput placeholder="street #" name="street_number" formControlName="street_number" type="text" />
          <mat-error *ngIf="Guardian.get('street_number').hasError('required') || Guardian.get('street_number').hasError('pattern')">{{getErrorMessage(Guardian.controls.street_number,"street_number")}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
          <input matInput placeholder="street name" name="street_name" formControlName="street_name" type="text" />
          <mat-error *ngIf="Guardian.get('street_name').hasError('required')">{{getErrorMessage(Guardian.controls.street_name,"street_name")}}</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
                  <input matInput placeholder="unit/flr/apt #" name="unit_number" formControlName="unit_number" type="text"/>
                  <mat-error *ngIf="Guardian.get('unit_number').hasError('pattern')">{{getErrorMessage(Guardian.controls.unit_number,"unit_number")}}</mat-error>
      </mat-form-field>
      <div class="navBtns">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
      </div>
</mat-step>
<mat-step  completed=false>
      <mat-form-field appearance="outline">
          <input matInput placeholder="city" name="city" formControlName="city" type="text" />
          <mat-error *ngIf="Guardian.get('city').hasError('required')">{{getErrorMessage(Guardian.controls.city,"city")}}</mat-error>
      </mat-form-field>
  <mat-form-field appearance="outline">
      <input matInput placeholder="province" name="province" formControlName="province" type="text" />
      <mat-error *ngIf="Guardian.get('province').hasError('required') || Guardian.get('province').hasError('pattern')">{{getErrorMessage(Guardian.controls.province,"province")}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
      <input matInput placeholder="postal code" name="zip_code" formControlName="zip_code" />
      <mat-error *ngIf="Guardian.get('zip_code').hasError('required') || Guardian.get('zip_code').hasError('pattern')">{{getErrorMessage(Guardian.controls.zip_code,"zip_code")}}</mat-error>
  </mat-form-field>
<h5 *ngIf="Guardian.valid">Congratulations! you've made it this far. Click "Save" to commit progress.</h5>
<mat-error *ngIf="!Guardian.valid">Please fix form errors, to be able to save</mat-error>
<div class="navBtns">
   
   <button mat-button matStepperPrevious>Back</button>
   
</div>
</mat-step>
</mat-horizontal-stepper>
  <br>
  <button mat-raised-button type="submit" id="submitGuardian" (click)="addGuardian()" [disabled]="!Guardian.valid">Save</button>
  <br>
  <button mat-raised-button type="submit" id="dismissForm" (click)="formDismiss()">Dismiss</button>
  <br>
   
</form>
