mat-expansion-panel-header{
    margin:2px auto;
}
.mat-expansion-panel{
    display: flex;
    flex-direction: column;
    border:16px solid #35353e;
    width: 75vw;
}
.classtabs{
    display: block;
    padding:16px;
    font-size:18px;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    margin:2px;
}
.classtabs:nth-child(odd){
    background:#00a4e2 !important;
}
.classtabs:nth-child(even){
    background: #ea348e;
}
.classtabs:hover{
    opacity: 0.7;
    cursor: pointer;
}
.homeClassNav {
    border:none;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 2vh;
    padding:16px;
}
.mat-accordion{
    
    margin: 5px auto;
    
}

.classesContainer{
    min-height: 82vh;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}
.classesContainer a{
    color:#f1f1f1;
}
@media only screen and (max-width:768px){
    .classesContainer{
        flex-direction: column;
        align-items: center;
        width:100%;
        margin: auto;
    }
    .mainContentView{
        margin:0;
    }
    .mat-expansion-panel{
        width:90vw;
        margin: auto;
    }
}