.addAttendeeForm{
    display: flex;
    flex-direction: column;
}
#submitAttendee{
    background: #004ae2;
    color:#fff;
}
#submitAttendee:disabled{
    opacity: 0.5;
}
#dismissForm{
    background: #ea3048;
    color:#fff;
}
.spinner{
    display: none;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.3);
}